<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="https://kit.fontawesome.com/07f40ded6c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
<header class="head">
    <div class="padre">
        <img src="/img/logo-mercado-liebre.svg" class="logo">
        <input class="buscador" placeholder="Buscar productos, marcas">
        </input>
        <div class="input-group">
            <i class="fa-solid fa-magnifying-glass fa-sm icono"></i>
            <input type="text">
        </div>
        <h4 id="textito"><i class="fa-solid fa-hand-holding-dollar"></i>  Compra en cuotas y sin tarjeta de crédito</h4>
    </div>

    <div class="ambas_columnas">
        <div class="messi">
            <div class="centrado1">
                <nav class="primeracolumna">
                    <a href=""> Ofertas </a>
                    <a href="">Tiendas Oficiales</a>
                    <a href="">Vender </a>
                    <a href="">Ayuda </a>
                </nav>
            </div>
        </div>


        <div class="centrado2">
            <nav class="segundacolumna">
                <a href="/signup">Crea Tu Cuenta <i class="fas fa-address-card"></i></a>
                <a href="/ingreso">Ingresa <i class="fas fa-arrow-right"></i></a>
                <a href="">Mis compras <i class="fas fa-shopping-basket"></i></a>
            </nav>
        </div>

    </div>

</header>

<main>
    <img src="/img/img-home-banner.jpg" alt="" class="banner">

    <h2>Basado en tu última visita</h2>

    <div class="contenedor">
        
            <article class="producto1">
                <a href="/producto/#cafetera"><img src="/img/cafetera.jpg" class="product"></a>
                <div class="Caja_producto">
                    <i class="fa-solid fa-truck" style="color:#39b54a"></i>
                    <div class="cafeDatos">
                        <p class="precio">100.00</p>
                        <p class="descuento">50% off</p>
                        <p class="descripcion">Cafetera Eléctrica</p>
                    </div>
                </div>
            </article>

            <article class="producto2">
                <a href="/producto/#macbook"><img src="/img/img-macbook-pro-2019.jpg" class="product"></a>
                <div class="Caja_producto">
                    <i class="fa-solid fa-truck" style="color:#39b54a"></i>
                    <div class="compuDatos">
                        <p class="precio">230.000</p>
                        <p class="descuento">20% off</p>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>
                </div>
            </article>
            <article class="producto3">
                <a href="/producto/#tv-samsung"><img src="/img/img-tv-samsung-smart.jpg" class="product"></a>
                <div class="Caja_producto">
                    <i class="fa-solid fa-truck" style="color:#39b54a"></i>
                    <div class="teleDatos">
                        <p class="precio">85.000</p>
                        <p class="descuento">0% off</p>
                        <p class="descripcion">TV Samsung</p>
                    </div>
                </div>
            </article>

            <article class="producto4">
                <a href="/producto/#tv-samsung"><img src="/img/img-samsung-galaxy-s10.jpg" class="product"></a>
                <div class="Caja_producto">
                    <i class="fa-solid fa-truck" style="color:#39b54a"></i>
                    <div class="fonoDatos">
                        <p class="precio">55.000</p>
                        <p class="descuento">5% off</p>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </div>
            </article>
      </div>
      <div class="espaciador"></div>
      <div class="contenedor">
        
        <article class="producto1">
            <a href="/producto/#cafetera"><img src="/img/teclado.jpg" class="product"></a>
            <div class="Caja_producto">
                <i class="fa-solid fa-truck" style="color:#39b54a"></i>
                <div class="cafeDatos">
                    <p class="precio">7.000</p>
                    <p class="descuento">5% off</p>
                    <p class="descripcion">Teclado Gorilla Games</p>
                </div>
            </div>
        </article>

        <article class="producto2">
            <a href="/producto/#macbook"><img src="/img/botines.jpg" class="product"></a>
            <div class="Caja_producto">
                <i class="fa-solid fa-truck" style="color:#39b54a"></i>
                <div class="compuDatos">
                    <p class="precio">44.000</p>
                    <p class="descuento">10% off</p>
                    <p class="descripcion">Botines Adidas</p>
                </div>
            </div>
        </article>
        <article class="producto3">
            <a href="/producto/#tv-samsung"><img src="/img/liquadora.png" class="product"></a>
            <div class="Caja_producto">
                <i class="fa-solid fa-truck" style="color:#39b54a"></i>
                <div class="teleDatos">
                    <p class="precio">30.000</p>
                    <p class="descuento">0% off</p>
                    <p class="descripcion">liquadora Marelli</p>
                </div>
            </div>
        </article>

        <article class="producto4">
            <a href="/producto/#tv-samsung"><img src="/img/parlante.jpg" class="product"></a>
            <div class="Caja_producto">
                <i class="fa-solid fa-truck" style="color:#39b54a"></i>
                <div class="fonoDatos">
                    <p class="precio">35.000</p>
                    <p class="descuento">5% off</p>
                    <p class="descripcion">JBL Charge 5</p>
                </div>
            </div>
        </article>
  </div>
</main>

<footer>
    <div class="f1">
        <div class="icono-tarjeta">
            <i class="fa-solid fa-credit-card fa-2xl"></i>
        </div>
        <div>
            <h3>Paga con tarjeta o efectivo</h3>
        </div>
        <div>
            <p>Con Mercado Liebre Cash tienes cuotas<br>
                sin interés con tarjeta o efectivo en puntos de pago.<br>
                ¡Y siempre es seguro!</p>
        </div>
    </div>
    <div class="f2">
        <div class="icono-regalo">
            <i class="fa-solid fa-gift fa-2xl"></i>
        </div>
        <div>
            <h3>Envíos gratis desde los $2.500</h3>
        </div>
        <div>
            <p>Solo por estar registrado en Mercado Liebre<br>
                tienes envíos gratis en miles de productos.<br>
                Es un beneficio de Mercado Liebre.</p>
        </div>
    </div>
    <div class="f3">
        <div class="icono-seguridad">
            <i class="fa-solid fa-user-shield fa-2xl"></i>
        </div>
        <div>
            <h3>Seguridad de principio a fin</h3>
        </div>
        <div>
            <p>No te gusta? ¡Devuélvelo!<br>
                En Mercado Liebre no hay nada que no puedas<br>
                hacer porque estás siempre protegido.</p>
        </div>
    </div>
</footer>

</body>
</html>
