* {
    text-decoration: none;
}
body{
    background-color:#e6e6e6;
    width: 100%;
}
.head{
    background-color: #eac926;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    width: 100%;
    height: 200px;
 
}
.padre{
   display: flex;
    flex-wrap: wrap;
}
.logo{
    width: 300px;
    height: 70px;
    margin-left: 50px;
    margin-bottom: 0px;
    
}
h4{
margin-left: 40px;
}

.buscador{
    width: 450px;
    height: 15px;
    margin-left: 100px;
    padding: 9px;
    margin-top:15px;

}
.input-group {
    position: relative;
}
.input-group input{
    width: 1px;
    padding: 8px 0px 8px 42px;
    margin-top: 15px;
}
.input-group i{
    position: absolute;
    margin-left: 16px;
    margin-top: 30px;
}

#textito{
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}
.ambas_columnas{
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 5px;
}
.messi{
    margin-bottom: 15px;
    
}
.primeracolumna{
display: flex;
flex-direction: row;
;

}
.segundacolumna{
    display: flex;
    flex-direction: row;
    }


.centrado1, .primeracolumna a{
    color: black;
    font-size: 20px;
    margin: 0 10px;
    margin-top: 35px;
 }

.centrado2, .segundacolumna a{
   color: black;
   font-size: 20px;
   margin: 0 12px;
   margin-top: 35px;
    }
.input2{
    position: relative;
}
.input2 input{
   width: 25px;
   padding: 12px 0px 12px 40px;
   margin-left: 530px;
   background-color: #1259c3;
   margin-top: 0px;
}
.input2 i{
    position: absolute;
    margin-left: 550px;
    top: 15px;
    color:white;
}
.main{
    height: 200px;
}

.nombre_usu{
  margin-left: 25% ;
  margin-top: 50px;
  width: 44vw;
  height: 30px;
}
.bottom{
    margin-left: 25.4% ;
    margin-top: 30px;
    width: 43.9vw;
    height: 30px;
    background-color: #1259c3;
    color: white;
}


footer {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 120px;
  }
  
  .f1,
  .f2,
  .f3 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }
  
  .icono-tarjeta,
  .icono-regalo,
  .icono-seguridad {
    font-size: 2em;
    margin-left: 100px;
    color: #1259c3;
  }
  
  h3 {
    margin-top: 40px;
    margin-left: 15px;
    color: #666;
    font-size: 25px;
    margin-bottom: 15px;
  }
  
  p {
    font-size: 15px;
    margin-left: 15px;
    margin-top: 40px;
    margin-bottom: 20px;
  }





  @media only screen and (max-width: 600px) and (min-width: 300px) {
    
  .head {
    background-color: #eac926;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 300px;
}
.logo{
    width: 150px;
    height: 70px;
    margin-left: 50px;
    margin-bottom: 0px;
    
}
h4{
margin-left: 40px;
}

.buscador{
    width: 250px;
    height: 15px;
    margin-left: 00px;
    padding: 9px;
    margin-top:15px;

}
.input-group input{
    width: 1px;
    padding: 8px 0px 8px 38px;
    margin-top: 5px;
}
.input-group i{
    position: absolute;
    margin-left: 16px;
    margin-top: 20px;

}
.ambas_columnas{
    display: none;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 102vw;
    margin-left: 0vw;
}
.fechaa{
   margin-right:300px ;
}


}